<html>
    <head>
        <meta charset="utf-8">
        <title>test2_1</title>
    </head>
    <body>

        <div>Today</div>

        <% for(var i=0; i < 5; i++){ %>
            <h1>안방으로 <%= i+1 %>번째 들어왔습니다.</h1>
        <% } %>
    
        <h1><%= one %></h1>
        <h1><%= two %></h1>

    </body>
</html>