<html>
    <head>
        <meta charset="utf-8">
        <title>test2_0</title>
    </head>
    <body>
        <div>Yesterday</div>
        <% for(var i=0; i < person.length;i++){ %>
            <div> <%= i+1 %>번째 사람의 이름은 <%= person[i]["name"] %>입니다 </div>
        <% } %>
    </body>
</html>